## Customer demographics Analysis

The data that we have is with impurities and before we proceed to start analyzing it or predicting anything we will clean the data. The excel file is divided into 3 main tables:

1. Transactions data
2. Customer demographics data
3. Customer Address data

In this notebook we will clean customer demographics table and do some preprocessing to make it reliable for analysis.

In [15]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt

In [20]:
%%capture
# currrent working directory
cwd = os.getcwd()
df_demo = pd.read_excel(cwd+"/KPMG_VI_New_raw_data_update_final_prathmesh.xlsx",'CustomerDemographic', header=1)


# transaction data to match customer ids
df_trans = pd.read_excel(cwd+"/KPMG_VI_New_raw_data_update_final_prathmesh.xlsx",'Transactions', header=0, index_col=0)

In [21]:
df_demo.head()

,1,Laraine,Maleedendorp,FeMale,93,1953-10-12 00:00:00,69.91094927226027,Executive Secretary,Health,Maleass CustoMaleer,N,Yes,11
0,2,Eli,BockMalean,Male,81,1980-12-16 00:00:00,42.713689,AdMaleinistrative Officer,Financial Services,Maleass CustoMaleer,N,Yes,16.0
1,3,Arlin,Dearle,Male,61,1954-01-20 00:00:00,69.636977,Recruiting Maleanager,Property,Maleass CustoMaleer,N,Yes,15.0
2,4,Talbot,NaN,Male,33,1961-10-03 00:00:00,61.930127,NaN,IT,Maleass CustoMaleer,N,No,7.0
3,5,Sheila-kathryn,Calton,FeMale,56,1977-05-13 00:00:00,46.310949,Senior Editor,NaN,Affluent CustoMaleer,N,Yes,8.0
4,6,Curr,Duckhouse,Male,35,1966-09-16 00:00:00,56.973963,NaN,Retail,High Net Worth,N,Yes,13.0

In [22]:
df_trans.head()

,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,...,job_title,job_industry_category,wealth_segMaleent,deceased_indicator,owns_car,tenure,address,postcode,state,property_valuation
transaction_id,,,,,,,,,,,,,,,,,,,,,
1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,...,Software Engineer I,Financial Services,Maleass CustoMaleer,N,Yes,10.0,984 Hoepker Court,3064.0,Victoria,6.0
2,3,3120,2017-05-21,1.0,Approved,Solex,Standard,medium,large,2091.47,...,Clinical Specialist,Health,Maleass CustoMaleer,N,Yes,10.0,4 Shopko Circle,2196.0,New South Wales,5.0
3,37,402,2017-10-16,0.0,Approved,Solex,Standard,low,medium,1793.43,...,Desktop Support Technician,Retail,Affluent CustoMaleer,N,No,22.0,586 Miller Parkway,2835.0,New South Wales,1.0
4,88,3135,2017-08-31,0.0,Approved,Solex,Standard,medium,medium,1198.46,...,Staff Scientist,Financial Services,Maleass CustoMaleer,N,No,16.0,1617 Harper Parkway,2096.0,New South Wales,10.0
5,78,787,2017-10-01,1.0,Approved,Solex,Standard,medium,large,1765.30,...,0,Retail,Affluent CustoMaleer,N,Yes,2.0,0601 Stephen Place,2292.0,New South Wales,7.0

In [23]:
df_trans

,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,...,job_title,job_industry_category,wealth_segMaleent,deceased_indicator,owns_car,tenure,address,postcode,state,property_valuation
transaction_id,,,,,,,,,,,,,,,,,,,,,
1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,...,Software Engineer I,Financial Services,Maleass CustoMaleer,N,Yes,10.0,984 Hoepker Court,3064.0,Victoria,6.0
2,3,3120,2017-05-21,1.0,Approved,Solex,Standard,medium,large,2091.47,...,Clinical Specialist,Health,Maleass CustoMaleer,N,Yes,10.0,4 Shopko Circle,2196.0,New South Wales,5.0
3,37,402,2017-10-16,0.0,Approved,Solex,Standard,low,medium,1793.43,...,Desktop Support Technician,Retail,Affluent CustoMaleer,N,No,22.0,586 Miller Parkway,2835.0,New South Wales,1.0
4,88,3135,2017-08-31,0.0,Approved,Solex,Standard,medium,medium,1198.46,...,Staff Scientist,Financial Services,Maleass CustoMaleer,N,No,16.0,1617 Harper Parkway,2096.0,New South Wales,10.0
5,78,787,2017-10-01,1.0,Approved,Solex,Standard,medium,large,1765.30,...,0,Retail,Affluent CustoMaleer,N,Yes,2.0,0601 Stephen Place,2292.0,New South Wales,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN